<footer class="site-footer" role="contentinfo">

<div class="row">
  <div class="small-12 medium-10 medium-centered columns">
    <p>Sound good? We thought <b>So</b>.</p>
    <a class="button" href="mailto:contact@thesocompany.com">Contact Us!</a>
  </div>
</div>

<nav role="menu" class="hide-for-medium-up">
  <ul>
    <li><a href="/hiring/">We&rsquo;re hiring</a></li>
  </ul>
</nav>

<div class="row secondary">
  <div class="small-12 medium-10 medium-centered columns">
    <b>New York</b> &amp; <b>Los Angeles</b> &amp; <b>Washington DC</b>

  </div>
</div>


<!-- Reveal Modals end -->

<script src="/assets/js/vendor/jquery.js"></script>
<script src="/assets/js/foundation/foundation.js"></script>
<script src="/assets/js/foundation/foundation.reveal.js"></script>
<!-- Other JS plugins can be included here -->

<script>
  $(document).foundation();
</script>
<script type="text/javascript" language="javascript">
  var sf14gv = 31801;
  (function() {
    var sf14g = document.createElement('script'); sf14g.type = 'text/javascript'; sf14g.async = true;
    sf14g.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 't.sf14g.com/sf14g.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sf14g, s);
  })();
</script>

</footer>
