<footer class="site-footer">

<div class="row">
  <div class="small-12 medium-10 medium-centered columns">
    <p>Sound good? We thought <b>So</b>.</p>
    <a class="button" href="mailto:info@thesocompany.com">Let&rsquo;s get started.</a>
  </div>
</div>

<div class="row secondary">
  <div class="small-12 medium-10 medium-centered columns">
    <b>New York</b> &amp; <b>Los Angeles</b>
    <ul class="social">
      <li><a href="#">LinkedIn</a></li>
      <li><a href="#">Twitter</a></li>
    </ul>
  </div>
</div>

</footer>
