<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/assets/css/style.css" | prepend: site.baseurl }}">

  <!-- Icons -->
  <link rel="shortcut icon" href="/assets/images/icons/favicon.png" type="image/x-icon">
  <link rel="apple-touch-icon" href="/assets/images/icons/apple-icon-touch-57-precomposed.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/icons/apple-icon-touch-72-precomposed.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/icons/apple-icon-touch-114-precomposed.png">
  <link rel="apple-touch-icon" sizes="157x157" href="/assets/images/icons/apple-icon-touch-157-precomposed.png">
  <link rel='stylesheet' href='/assets/css/style.css?v={{ site.github.build_revision }}'>

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head>
