<header class="site-header">

<div class="header">
  <div class="row">
    <div class="small-12 medium-10 medium-centered columns">
      <div class="row">
        <div class="small-12 medium-6 columns">
          <h1><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
        </div>

        <div class="small-12 medium-6 text-right columns">
          <nav role="menu">
            <ul>
              <li><a href="/hiring/">We&rsquo;re hiring</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>

</header>
