html {
  margin: 0; padding: 0;
  font-size: 18px;
}

.header {

  h1 {
    margin: 2em auto;
    text-align: center;
    a {
      background: #fff url(/assets/images/logo.png) center center no-repeat;
      background-size: cover;
      text-indent: -9999em;
      font-size: 1px;
      overflow: hidden;
      margin: 0 auto;
      display: block;
      width: 275px;
      height: 55px;
      @media #{$small} {
        height: 90px;
        width: 480px;
      }
    }
  }

}


.hero {
  background: #191919;
  color: #fff;
  padding: 3em 0;
  font-size: 1.4em;
  p {
    line-height: 1.75em;
  }
}


.case-study {
  padding: 10em 0 0 0;
  border: 1px solid #ccc;
  a.button {
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 0;
    span, b, em {
      display: block;
    }
  }
}

.about {
  padding: 2em 0;
}

.team {
  img {
    display: block;
    width: 100%;
  }
}


footer {
  text-transform: uppercase;
  background: #191919;
  color: #fff;
  font-size: 1.2em;
  padding: 2em 0 4em 0;
  a.button {
    background: #fff;
    margin: 1em 0;
    color: #333;
    font-weight: bold;
  }
}
